.navbar-theme {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  @media (min-width: 767px) {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;

  }
  .logo-theme {
    h1 {
      margin: 8px 0 0 0;
      padding: 0;
      @media (max-width: @screen-sm) {
        margin: 0;
      }
      a {
        width: 250px;
        height: 50px;
        background: url("@{image-path-theme}/logos/logo-eng-md-w.png") no-repeat left top;
        text-indent: -90000px;
        display: block;
        background-size: 100%;
        @media (max-width: @screen-sm) {
          width: 80px;
          height: 36px;
          background-size: 240px;
        }
      }
    }
  }
  .navbar-theme-collapse {
    float: right;
    @media (max-width: 767px) {
      float: none;
    }
  }
  .navbar-toggle {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: @white;
    border: none;
    border-left: 1px solid #fff;
    background-color: transparent;
    border-radius: 0;
    margin-top: 10px;
    @media (max-width: @screen-md) {
      margin: 0;
    }
  }
  &.navbar-fixed-top {
    border-top: 5px solid @laranja-theme;
  }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: transparent;

  }
  .open {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border: none;
    border-bottom: 0;

    .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0px 0px 8px 8px;
      -moz-border-radius: 0px 0px 8px 8px;
      -webkit-border-radius: 0px 0px 8px 8px;
      border: none;
      border-top: 0;
      margin: 0;
      a {
        color: #fff;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);

        }
      }
    }
  }
  .container {
    position: relative;
  }
}

.top-nav-collapse {
  .open {
    background-color: transparent;
    .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.9);
      margin-top: 10px;

      a {
        &:hover {
          background-color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
}

.navbar-nav-theme {
  margin-top: 4px;
  > li {
    > a {
      color: @white;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      position: relative;
      &:hover, &:focus {
        background-color: transparent;
      }

      @media (max-width: 995px) {
        padding: 15px 6px;
        text-align: center;
      }

    }
    .active {
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 4px;
        background-color: @laranja-theme;
        width: 100%;
        left: 0;
      }
    }
    .login {
      color: @white;
      background-color: transparent;
      border: 2px solid @white;
      border-radius: 5px;
      padding: 6px 15px;
      margin-top: 6px;
    }
    .btn-experimente {
      background-color: @blue-light-one;
      &:hover {
        background-color: darken(@blue-light-one, 30%);
        color: @white;
      }

    }

  }

}

// Controla a fade do menu
.navbar-theme {
  padding: 40px 20px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 13%, #000 100%);
  border: 0;
  @media (max-width: @screen-sm) {
    padding: 10px 20px;
    //background-color: rgba(0, 0, 0, 0.9);
  }
  .menu-button {
    display: inline;
    position: absolute;
    right: 16px;
    top: 0;
    //z-index: 999;
    font-size: 30px;
    -webkit-transition: .8s ease-in-out, padding .8s ease-in-out;
    -moz-transition: .8s ease-in-out, padding .8s ease-in-out;
    transition: .8s ease-in-out, padding .8s ease-in-out;
    a {
      text-decoration: none;
    }

    .btn-open {
      &:after {
        color: @white;
        content: "\e68e";
        font-family: "themify";
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
      }
      &:hover {
        &:after {
          color: @white;
        }
      }
    }

    .btn-close {
      &:after {
        color: @white;
        content: "\e646";
        font-family: "themify";
        transition-property: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -webkit-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
      }
      &:hover {
        &:after {
          color: @white;
        }
      }
    }
    @media (max-width: @screen-sm) {
      top: 0px;
      //right: 0px;
      -webkit-transition: .8s ease-in-out, padding .8s ease-in-out;
      -moz-transition: .8s ease-in-out, padding .8s ease-in-out;
      transition: .8s ease-in-out, padding .8s ease-in-out;
    }
  }
}

.top-nav-collapse {
  padding: 8px 16px 16px 16px !important;
  background-color: rgba(0, 0, 0, 0.9);
  //min-height: 120px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 calc(75% - 5vw));
  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    line-height: 0;
    border-color: transparent transparent @laranja-theme transparent;
    border-width: 0 0 36px 108px;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transition: .8s ease-in-out, padding .8s ease-in-out;
    -moz-transition: .8s ease-in-out, padding .8s ease-in-out;
    transition: .8s ease-in-out, padding .8s ease-in-out;
    @media (max-width: @screen-sm) {
      display: none;
    }
  }

  .menu-button {
    top: 0;
    right: 16px;
    -webkit-transition: .8s ease-in-out, padding .8s ease-in-out;
    -moz-transition: .8s ease-in-out, padding .8s ease-in-out;
    transition: .8s ease-in-out, padding .8s ease-in-out;
  }

  @media (max-width: @screen-sm) {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    clip-path: none;
  }
}

// NAVBAR FULL SCREEN

/*styling open close button*/
/*overlay*/


.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.99);
  overflow: auto;
  z-index: 99;

  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;

  .wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 120px 0;
    @media (min-height: 770px) {
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .wrap-nav {

      width: 100%;
      position: relative;
      height: auto;
      background: transparent;
      -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.8s; /* Firefox < 16 */
      -ms-animation: fadein 0.8s; /* Internet Explorer */
      -o-animation: fadein 0.8s; /* Opera < 12.1 */
      animation: fadein 0.8s;
      @media (max-width: @screen-sm) {

      }

      .nav-mainmenu {
        color: @white;
        ul, li {
          list-style-type: none;
          color: @white;
          margin: 16px 0;
        }
        a {
          color: @white;
          -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadein 3s; /* Firefox < 16 */
          -ms-animation: fadein 3s; /* Internet Explorer */
          -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
        }
      }
    }
  }
}


.menu-open {
  overflow: hidden;
  .top-nav-collapse{
    background-color: transparent;
    &:after{
      display: none;
    }
  }
}



@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



